$blank-color: #fff;
$darken-color: #000;

$background-color-block: #f4e3d3;
$border-color-block: #e8c4a2;

$background-color-item: #2d3740;
$border-color-item: #262020;

$text-color: #262020;
$error-color: #742d33;
$anchor-color: #23757c;

$colorsGroups: (
	"green": (
		"border": green,
		"background": lighten(green, 70%),
		"text": green
	),
	"red": (
		"border": red,
		"background": lighten(red, 45%),
		"text": red
	)
);
