*,
*:before, 
*:after {
	box-sizing: border-box;
	font-family: arial, sans-serif !important; 	
} 


html {
	font-size: 10px; // 62.5%; // 10px
	@include scrollBehavior(smooth);

    color: $text-color;
}

body {
	font-size: 1.6rem;
}
	
a {
	font-size: 1.4rem;
	text-decoration: none;
	color: $anchor-color;
	transition: color 0.25s, background 0.25s;
	&:hover {
		text-decoration: underline;
	}	
}

p {
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin: 0 0 10px;
	max-width: $width-desktop;
	text-align: justify;
}

ul {
	li {
		list-style-type: none;
	}	
}

h1 {
	padding: 10px;
	@include marginBottomBetweenContent;
	
	font-size: 2.4rem;
	@include desktop {
		font-size: 3rem;
	}

	color: $text-color;
	background: $background-color-block;
	border-bottom: 4px solid $border-color-block;
}

main {
	@include marginLateral;
	@include marginBottomBetweenContent;
}
